
.h-4{
    font-family: "Poppins", sans-serif; 
    font-size: 1.5rem;
}
.h-4--b{
    font-size: 1.5rem;
    font-weight: 600;
}
.h-5{
    font-size: 1.2rem;
}
.h-5--b{
    font-size: 1.3rem;
    font-weight: 600;
}
.avg{
    color: orange;
}